<Config>
  <BindAddress>*</BindAddress>
  <Port>6969</Port>
  <SslPort>8008</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>{{ .whisparr_api_key }}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <Branch>nightly</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Whisparr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <PostgresUser>{{ .whisparr_postgres_user }}</PostgresUser>
  <PostgresPassword>{{ .whisparr_postgres_password }}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgresql.databases.svc.cluster.local</PostgresHost>
  <PostgresMainDb>whisparr</PostgresMainDb>
  <PostgresLogDb>whisparr_log</PostgresLogDb>
</Config>
