<Config>
  <BindAddress>*</BindAddress>
  <Port>9696</Port>
  <SslPort>6969</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>{{ .prowlarr_api_key }}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <Branch>master</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase>/</UrlBase>
  <InstanceName>Prowlarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <PostgresUser>{{ .prowlarr_postgres_user }}</PostgresUser>
  <PostgresPassword>{{ .prowlarr_postgres_password }}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgresql.databases.svc.cluster.local</PostgresHost>
  <PostgresMainDb>prowlarr</PostgresMainDb>
  <PostgresLogDb>prowlarr_log</PostgresLogDb>
</Config>
