<Config>
  <BindAddress>*</BindAddress>
  <Port>8989</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>{{ .sonarr_api_key }}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <Branch>main</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Sonarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <PostgresUser>{{ .sonarr_postgres_user }}</PostgresUser>
  <PostgresPassword>{{ .sonarr_postgres_password }}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgresql.databases.svc.cluster.local</PostgresHost>
  <PostgresMainDb>sonarr</PostgresMainDb>
  <PostgresLogDb>sonarr_log</PostgresLogDb>
</Config>
