<Config>
  <BindAddress>*</BindAddress>
  <Port>8787</Port>
  <SslPort>6868</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>{{ .readarr_api_key }}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>develop</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Readarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <PostgresUser>{{ .readarr_postgres_user }}</PostgresUser>
  <PostgresPassword>{{ .readarr_postgres_password }}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgresql.databases.svc.cluster.local</PostgresHost>
  <PostgresMainDb>readarr</PostgresMainDb>
  <PostgresLogDb>readarr_log</PostgresLogDb>
</Config>
